.btn-scroll {
    position: fixed; /* Garde l'image en place */
    bottom: 120px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: none; /* Cachée au départ */
    z-index: 1000;
}