// ---------------- PAGES DYNAMIQUES ----------------


.profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    .infos {
       margin: 7rem;
    }
    .photo {
        margin: 7rem;
     }
    .upload-cv {
        background-color: $beige;
        height: 15rem;
        width: 25rem;
        h2 {
            text-align: center;
            margin: 3rem;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            button {
                border: 1px solid $vert;
                height: 2rem;
                width: 7rem;
                font-family: "BEBAS NEUVE";
                border: none;
            }
        }
    }
  }
  

  .modifier-profil {
    .btn-image {
        height: 2rem;
    }
  }

  .supprimer-profil {
    .btn-sup {
        height: 2rem;
    }
  }