// header {
//     position: absolute;
//     display: flex;
//     transform: translate(0px, 650px);
//     gap: 7rem;
//     background: white;
//     width: 100%;
//     .logo {
//         display: flex;
//         .diagonale-header {
//             width  : 0;
//             height : 0;
//             border-bottom : 10rem solid white;
//             border-right  : 10rem solid transparent;
//             transform: translate(240px, -150px);
//     }
//         .rectangle-header {
//             width  : 15rem;
//             height : 10rem;
//             background: white;
//             transform: translate(0px, -150px);
//             position: absolute;
//         }
//         // img {
//         //     background: white;
//         //     position: relative;
//         //     object-fit: cover;
//         //     height: 10rem;
//         //     width: 10rem;
//         //     transform: translate(-80px, -150px);
//         // }
//         img {
//             background: white;
//             position: relative;
//             object-fit: cover;
//             height: 6rem;
//             transform: translate(-130px, -110px);
//         }
//     }

//     .nav-principal{
//         position: relative;
//         margin: 2rem;
//         @include flexbox(center, false, space-between);
//         gap: 3rem;
//         a {
//             text-decoration: none;
//             @include tcsTitre;
//             font-size: 1.3rem;
//             color: black;
//             letter-spacing: 0.2rem;
//         }
//     }
 

// }

// .separateur-header {
//     border: 1px solid black;
//     width: 72%;
//     margin-left: 20%;
//     transform: translate(110px, 750px);
// }

// .menu {

//     display: flex;
//     flex-direction: column;
//     gap: 7rem;
//     background: $vert;
//     color: white;
    
// }


header {
    width: 220px;
    height: 100vh;
    background-color: #1E3D3A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;

  }
  
  /* Liens de navigation */
  .menu {
    display: flex;
    flex-direction: column;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0;
    transition: color 0.2s;
  }
  
  .menu a:hover {
    color: #A3C6BE;
  }
  
  /* Logo entreprise en bas */
  .logo {
    margin-top: auto;
    text-align: center;
  }
  
  .logo img {
    max-width: 120px;
    height: auto;
    filter: drop-shadow(0 0 2px #000);
  }
  
 

  .separateur-header {
    width: 100%;
    height: 3px;
    background-color: #A3C6BE;
  }
  