@use "vars";

// menu public 
#menu-public {
    position: absolute;
    display: flex;
    transform: translate(0px, 650px);
    gap: 4rem;
    background: white;
    width: 100%;
    .logo {
        display: flex;
        .diagonale-header {
            width  : 0;
            height : 0;
            border-bottom : 10rem solid white;
            border-right  : 10rem solid transparent;
            transform: translate(240px, -150px);
    }
        .rectangle-header {
            width  : 15rem;
            height : 10rem;
            background: white;
            transform: translate(0px, -150px);
            position: absolute;
        }
        // img {
        //     background: white;
        //     position: relative;
        //     object-fit: cover;
        //     height: 10rem;
        //     width: 10rem;
        //     transform: translate(-80px, -150px);
        // }
        img {
            background: white;
            position: relative;
            object-fit: cover;
            height: 6rem;
            transform: translate(-130px, -110px);
        }
    }

    .nav-principal{
        position: relative;
        margin: 2rem;
        @include vars.flexbox(center, false, space-between);
        gap: 3rem;
        a {
            text-decoration: none;
            @include vars.tcsTitre;
            font-size: 1.3rem;
            color: black;
            letter-spacing: 0.2rem;
        }
    }


.separateur-header {
    border: 1px solid black;
    width: 72%;
    margin-left: 20%;
    transform: translate(110px, 750px);
    display:none;
}
}
.icone-login {
  position: absolute;
  display: flex;
  gap: 1rem;
  transform: translate(50px, -0px);
  .log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
  img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
  }

}
}




// .menu {

//     display: flex;
//     flex-direction: column;
//     gap: 7rem;
//     background: $vert;
//     color: white;
    
// }

#menu-connecte {
    width: 220px;
    height: 100vh;
    background-color: #1E3D3A;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px;
    box-sizing: border-box;
    font-family: 'BEBAS NUEUVE', sans-serif;
    position: fixed;
  }
  
  nav.menu {
    display: flex;
    flex-direction: column;
  }
  
  nav.menu a {
    color: #eee;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 15px 0;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
  }
  
  nav.menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #A3C6BE;
  }
  
  nav.menu a.active {
    background-color: white;
    color: #333;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .logoconnecte {
    height: 6rem;
    display: flex;
    justify-content: center;
  }

  
  .separateur-header {
    width: 100%;
    height: 3px;
    background-color: #A3C6BE;
  }
  
