@import "btn-retour-haut";

.footer-complet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background: #ffffff;
    width: 100%;
    border: 2px solid black;
    height: 15rem;
        img {
            background: rgb(255, 255, 255);
            position: relative;
            object-fit: cover;
            height: 6rem;
        }

    h4 {
        font-family: "Bebas Neue";
        font-size: 1.5rem;
    }
    .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    nav {
        position: relative;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            @include tcsTitre;
            font-size: 1.3rem;
            color: black;
            letter-spacing: 0.2rem;
        }
    }
    .reseaux {
        display: flex;
        flex-direction: column;   
        align-items: center;
        img {
            height: 3rem;
            width: 3rem;
        }
    }
}



.mentions {
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.224);
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    a {
        text-decoration: none;
    }
}