@use "btn-retour-haut";
@use "vars";

.footer-complet {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    background: #ffffff;
    width: 100%;
    border-top: 2px solid black;
    height: 15rem;
        img {
            background: rgb(255, 255, 255);
            position: relative;
            object-fit: cover;
            height: 6rem;
        }

    h4 {
        font-family: "Bebas Neue";
        font-size: 1.5rem;
    }
    .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    nav {
        position: relative;
        display: flex;
        flex-direction: column;

        a {
            text-decoration: none;
            @include vars.tcsTitre;
            font-size: 1.3rem;
            color: vars.$vert;
            letter-spacing: 0.2rem;
        }
    }
    .reseaux {
        display: flex;
        flex-direction: column;   
        align-items: center;
        img {
            height: 3rem;
            width: 3rem;
        }
    }
}



.mentions {
    display: flex;
    flex-direction: row;
    background: rgba(128, 128, 128, 0.224);
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
        a {
          color: black;
    }
}


// Responsive 
@media screen and (max-width: 1024px) {
    .footer-complet {
      flex-direction: column;
      height: auto;
      padding: 2rem 1rem;
      gap: 3rem;
  
      img {
        height: 5rem;
      }
  
      h4 {
        font-size: 1.3rem;
        text-align: center;
      }
  
      nav {
        align-items: center;
        a {
          font-size: 1.1rem;
          text-align: center;
        }
      }
  
      .contact, .reseaux {
        align-items: center;
        text-align: center;
      }
  
      .reseaux img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  
    .mentions {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    .footer-complet {
      gap: 2rem;
      padding: 1rem;
      h4 {
        font-size: 1.1rem;
      }
      nav a {
        font-size: 1rem;
        letter-spacing: 0.1rem;
      }
      .reseaux img {
        height: 2rem;
        width: 2rem;
        div {
          display: flex;
          gap: 0.8rem;
        }
      }
      .separateur-footer {
        border: 1px solid vars.$vert;
        width: 20%;
        transform: translate(0);
      }
    }
    .mentions {
      flex-direction: row;
      padding: 0.5rem;
      font-size: 0.7rem;
      p {
        font-size: 0.7rem;
      }
    }
  }
  