.inscription {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    margin: 4rem;
    align-content: center;
    justify-content: center;

    .superposition-insc {
        display: flex;
        flex-direction: column;
        width: 100%;
        .img-inscription{
            height: 50rem;
            width: 40%;
            object-fit: cover;
            position: absolute;
        }
        div {
            position: relative;
            z-index: 99;
            img {
                height: 3rem;
                width: 3rem;
                object-fit: cover;
                position: relative;
            }
            .btn-insc {
                background: $beige;
                color: white;
                height: 5rem;
                width: 15rem;
                font-size: 1.5rem;
                font-family: "BEBAS NEUVE";
                border: none;
            }
        }
    }
   
    .form-inscription {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 30%;
   
    .titre-inscr {
        padding: 3rem;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.737);
        font-size: 2rem;
        background: $vert;
        color: white;
    }
    button {
        @include boutonBeige;
    }
}
}


.connexion {
    width: 100%;
    display: flex;
    flex-direction: row;
}

