@use "vars";

// style de la page d'inscription
.inscription {
    display: flex;
    justify-content: center;
    margin: 5rem;
    width: 80%;
    .superposition-insc {
        display: flex;
        flex-direction: column;
        width: 100%;

        .img-inscription{
            height: 40rem;
            width: 40%;
            object-fit: cover;
            position: absolute;
        }
        .cadre-img {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 99;
            img {
                height: 1.5rem;
                object-fit: cover;
                position: relative;
                background-color: vars.$beige;
                transform: translate(2.5rem, 0rem);
            }
            a {
                text-decoration: none;
            }
            .btn-insc {
                background: #C9AB89;
                color: white;
                height: 3rem;
                width: 14rem;
                font-size: 0.8rem;
                font-family: "BEBAS NEUVE";
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
   
    .form-inscription {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        border: 1px solid vars.$beige;
        height: 40rem;
        width: 80%;
        align-content: center;
        justify-content: center;
        padding: 3rem 5rem 5rem 5rem;
        margin-bottom: 3rem;
        input {
            display: flex;
            gap: 1rem;
            width: 70%;
            border: none;
            border-bottom: 1px solid vars.$beige;
        }
    .titre-inscription {
        padding: 1rem;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.737);
        font-size: 1.5rem;
        background-color: vars.$vert;
        color: white;
        margin-bottom: 2rem;
    }
    .btn-crea {
        background: vars.$beige;
        color: white;
        padding: 1rem;
        width: 15rem;
        font-size: 1rem;
        font-family: "BEBAS NEUVE";
        border: none;
    }
}

  
}

// style de la page de connexion
.connexion {
    display: flex;
    justify-content: center;
    margin: 5rem;
    width: 80%;
    .options-co {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .checkbox-label {
            display: flex;
            flex-direction: column;
        }
        .lien-mdp-oublie {
            text-decoration: none;
            color: black;
        }
    }
    .superposition-co {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        .img-connexion{
            height: 40rem;
            width: 40%;
            object-fit: cover;
            position: absolute;
        }
        .cadre-co {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 99;
            img {
                height: 1.5rem;
                object-fit: cover;
                position: relative;
                background-color: vars.$beige;
                transform: translate(-2.5rem, 0rem);
            }
            a {
                text-decoration: none;
            }
            .btn-co { // bouton qui navigue sur la page inscription
                background: #C9AB89;
                color: white;
                height: 3rem;
                width: 14rem;
                font-size: 0.8rem;
                font-family: "BEBAS NEUVE";
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
       
    }
    .form-connexion {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 40rem;
        width: 80%;
        padding: 3rem 5rem 5rem 5rem;
        border: 1px solid vars.$beige;
        input {
            display: flex;
            gap: 1rem;
            width: 70%;
            border: none;
            border-bottom: 1px solid vars.$beige;
        }
    .titre-co {
        padding: 1rem;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.737);
        font-size: 1.5rem;
        background-color: vars.$vert;
        color: white;
        margin-bottom: 2rem;
    }
    .btn-crea { // bouton qui navigue vers l'inscription
        background: vars.$beige;
        color: white;
        padding: 1rem;
        width: 15rem;
        font-size: 1rem;
        font-family: "BEBAS NEUVE";
        border: none;
    }
    }
}
// Responsive styles
@media screen and (max-width: 1024px) {
    .inscription, .connexion {
      margin: 1rem 5rem;
      flex-direction: column;
  
      .superposition-insc, .superposition-co {
        .img-inscription, .img-connexion {
          width: 100%;
          height: 20rem;
          position: relative;
          margin-bottom: 2rem;
        }
      }
  
      .cadre-img, .cadre-co {
        flex-direction: column;
        img {
          transform: none;
        }
        .btn-insc, .btn-co {
          width: 100%;
          margin-top: 1rem;
        }
      }
  
      .form-inscription, .form-connexion {
        padding: 2rem;
        height: auto;
        input {
          width: 100%;
        }
        .btn-crea {
          width: 100%;
          margin-top: 1rem;
        }
      }
    }
  }

@media screen and (max-width: 600px) {
    .inscription, .connexion {
      margin: 1rem 2rem;
      .form-inscription, .form-connexion {
        padding: 1rem;
        .titre-inscription, .titre-co {
          font-size: 1.5rem;
        }
        input {
          font-size: 0.9rem;
        }
      }
      .btn-crea, .btn-insc, .btn-co {
        font-size: 0.9rem;
        padding: 0.8rem;
      }
    }
  }