.inscription {
    display: flex;
    justify-content: center;
    margin: 1rem 10rem 1rem 10rem;
    .superposition-insc {
        display: flex;
        flex-direction: column;
        width: 100%;

        .img-inscription{
            height: 50rem;
            width: 40%;
            object-fit: cover;
            position: absolute;
        }
        .cadre-img {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 99;
            img {
                height: 2rem;
                width: 2rem;
                object-fit: cover;
                position: relative;
                background-color: $beige;
                transform: translate(2.5rem, 0rem);
            }
            a {
                text-decoration: none;
            }
            .btn-insc {
                background: #C9AB89;
                color: white;
                height: 4rem;
                width: 15rem;
                font-size: 1rem;
                font-family: "BEBAS NEUVE";
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
   
    .form-inscription {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid $beige;
        height: 50rem;
        width: 100%;
        align-content: center;
        justify-content: center;
        padding: 2rem 0rem 5rem 10rem;
        margin-bottom: 3rem;
        input {
            display: flex;
            gap: 1rem;
            width: 70%;
            border: none;
            border-bottom: 1px solid $beige;
        }
    .titre-inscription {
        padding: 1rem;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.737);
        font-size: 2rem;
        background-color: $vert;
        color: white;
        margin-bottom: 3rem;
    }
    .btn-crea {
        background: $beige;
        color: white;
        padding: 1rem;
        width: 15rem;
        font-size: 1rem;
        font-family: "BEBAS NEUVE";
        border: none;
    }
}

  
}


.connexion {
    display: flex;
    justify-content: center;
    margin: 1rem 10rem 1rem 10rem;
    .options-co {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .checkbox-label {
            display: flex;
            flex-direction: column;
        }
        .lien-mdp-oublie {
            text-decoration: none;
            color: black;
        }
    }
    .superposition-co {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        .img-connexion{
            height: 50rem;
            width: 40%;
            object-fit: cover;
            position: absolute;
        }
        .cadre-co {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            z-index: 99;
            img {
                height: 2rem;
                width: 2rem;
                object-fit: cover;
                position: relative;
                background-color: $beige;
                transform: translate(-2.5rem, 0rem);
            }
            a {
                text-decoration: none;
            }
            .btn-co { // bouton qui navigue sur la page inscription
                background: #C9AB89;
                color: white;
                height: 4rem;
                width: 15rem;
                font-size: 1rem;
                font-family: "BEBAS NEUVE";
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
       
    }
    .form-connexion {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 50rem;
        width: 100%;
        padding: 10rem 5rem 5rem 5rem;
        border: 1px solid $beige;
        input {
            display: flex;
            gap: 1rem;
            width: 70%;
            border: none;
            border-bottom: 1px solid $beige;
        }
    .titre-co {
        padding: 1rem;
        text-align: center;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.737);
        font-size: 2rem;
        background-color: $vert;
        color: white;
        margin-bottom: 3rem;
    }
    .btn-crea { // bouton qui navigue vers l'inscription
        background: $beige;
        color: white;
        padding: 1rem;
        width: 15rem;
        font-size: 1rem;
        font-family: "BEBAS NEUVE";
        border: none;
    }
    }
}

