@use "sass:meta";
@use "vars";
@use "typo";



@media (max-width: 768px) {
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.2rem; }
    h3 { font-size: 1.4rem; }
    h4 { font-size: 1.1rem; }
    p, li { 
    font-family: "outfit";
    font-weight: 200;}
}
//page accueil
@media screen and (max-width: 750px) and (orientation: portrait) {
#P1 {
    p {
        font-size: 0.9rem;
    }
    .hero {
        img {
            height: 70vh;
        }
    }
    .bloc-redirection {
        width: 100%;
        margin: 0;
        gap: 0;
        .trait-vert {
            transform: translate(0rem, 0rem);
        }
        .card {
            margin: 1rem;
            width: 40%;
            gap: 0.5rem;
            > div {
                height: 10rem;
                p {
                    font-size: 0.8rem;
                    transform: translate(10px, -74px);
                }
            }
        }
        img {
            height: 10rem;
            width: 10rem;
        }
    }
    .texte1 {
      gap: 1.3rem;  
      p {
        margin-top: 1rem;
        font-size: 0.9rem;
      }
      h1 {
        font-size: 1.4rem;
      }
      .separateur {
        width: 7rem;
        transform: translate(0);
      }
      .btn1 {
        margin: 0;
        width: 8rem;
        font-size: 0.65rem;
      }
    }
    figure {
        img {
            height: 15rem;
        }
        figcaption {
            width: 70%;
            .chiffre-compteur {
                gap: 0;
                .compteur {
                    font-size: 2rem;
                }
            }
            .texte-compteur {
                gap: 0.3rem;
                p {
                    font-size:  1rem;
                    gap: 2rem;
                    font-family: "bebas neue";
                    text-align: center;
                }
                
            }
        }
    }
    .template-titre1 {
        margin: 4rem 2rem;
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;
            text-align: start;
            margin: 0;
        }
          
    .separateur {
        transform: translate(11rem, -2rem);
    }
    } 

    .superposition1 {
        margin: 1rem;
        height: auto;
        width: 18rem;
        img {
            height: 15rem;
            width: 15rem;
            transform: translate(21px, -640px);
        }
        article {
        width: 18rem;
        transform: translate(3.4rem, 14rem);
        p, h2 {
            padding: 2rem;
            margin: 0;
        }
        h2 {
            font-size: 1.3rem;
        }
        }
        .btn2 {
            transform: translate(9rem, 1rem);
            font-size:0.7rem;
            width: 8rem;
        }
    }
    .superposition2 {
        margin: 4.2rem;
        height: auto;
        width: 18rem;
        img {
            height: 15rem;
            width: 15rem;
            transform: translate(25px, -619px);
        }
        > article {
            width: 18rem;
            transform: translate(-3.6rem, 13rem);
            p, h2 {
                padding: 2rem;
                margin: 0;
            }
            h2 {
                font-size: 1.3rem;
            }
        }
        .btn3 {
            transform: translate(3rem, 1rem);
            font-size:0.7rem;
            width: 8rem;
        }
    }   
    .template-titre2 {
        margin: 4rem 2rem;
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;        
            margin: 0.5rem 0;
            text-align: start;
        }
        .separateur2 {
           transform: translate(-1rem, 0rem);
        }
    }
    .cadre-vert {
        display: none;
    }
    .citation {
        width: 100%;
        transform: translate(0);
        .citation-texte {
            font-size: 0.9rem;
        }
        .prenom {
            margin: 2rem;
        }
    }
    .temoignage {
        transform: translate(0);
        height: 44rem;
        h3 {
            margin: 2rem;
            font-size: 1.2rem;
        }
        .template-titre2 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
            }
        }
        .temoignage-texte {
            margin: 2rem;
        }
        img {
            width: 6rem;
            height: 2rem;
            margin: 0;
        }
    }
    }
}

//page bureau etude
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P2 {
        p {
            font-size: 0.9rem;
        }
        h2 {
            font-size: 1.3rem;
        }
        .btn1 {
            width: 8rem;
        }
        .hero {
            img {
                height: 70vh;
            }
        }
        .template-titre1 {
            width: 100%;
            margin: 0;
            padding: 4rem 2rem;
            .separateur {
                width: 59px;
                transform: translate(14rem, -2rem);
            }
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
                margin: 0;
                text-align: start;
            }
        } 
        .texte {
            font-size: 0.9rem;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            p {
                margin: 0;
            }
        }
        .btn1 {
            margin: 0;
            font-size: 0.65rem;
        }
        .activite {
            margin: 0;
            padding: 1rem;
            line-height: 0.9;
            .template-titre2 {
                margin: 4rem 2rem;
                .tcs-C {
                    font-size: 0.9rem;
                }
                .titre {
                    font-size: 1.2rem;
                    margin: 0;
                    text-align: start;
                }
                .separateur2 {
                   transform: translate(-1rem, 0rem);
                }
            }
        }
        .trois-images {
            margin: 0;
            padding: 1rem;
            gap: 2px;
            width: 100%;
            .carte {
                height: 15rem;  
            .filtre {
            h2 {
                font-size: 0.9rem;
                }
                }
            }
          
        }
        .maintenance, .chimie, .nucleaire {
            margin: 0;
            padding: 1rem;
            align-items: center;
            flex-direction: column;
        div {
            display: flex;
            flex-direction: row;
            img {
                width: 10rem;
                height: 10rem;
            }
            .cadre-beige {
                transform: translate(-60px, 43px);
                height: 10rem;
                width: 10rem;
            }
        }
        article {
            width: 90%;
            padding: 2rem; 
            .be-nucleaire,.be-chimie, .be-maintenance {
                margin: 2rem 0;
                font-size: 0.9rem;
                }
            }
        }
        .section-flip {
            width: 100%;
            gap: 1rem;
            padding: 1rem;
            margin: 0;
            img, .bloc-beige, .bloc-vert, .bloc-gris, .flip-card{
                height: 10rem;
                width: 10rem;
            }

        }
    }
}

//page expertise 
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P3 {
        p {
            font-size: 0.9rem;
        }
        h2 {
            font-size: 1.3rem;
        }
        .btn1 {
            width: 8rem;
            margin: 0;
            font-size: 0.65rem;
        }
        .hero {
            img {
                height: 70vh;
            }
        }
        .template-titre1 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
                margin: 0.5rem 0;
                text-align: start;
            }
            .separateur {
                transform: translate(11rem, -3rem);
                width: 60px;
            }
        } 
        .redirection {
            margin: 0;
            padding: 0;
            width: 100%;
            transform: translate(0);
            .plan{
                gap: 5rem;
                margin-top: 2rem;
            }
            .icone {
                height: 2.5rem;
                width: 2.5rem;
            }
            .cahiers {
                align-items: center;
                gap: 3.2rem;
                h4 {
                    font-size: 0.9rem;
                }
            }
            .fleches {
                .fleche {
                    height: 2rem;
                    width: 2rem;
                    object-fit: cover;
                }
            }
        }
        .rect-vert {
            width: 100%;
            transform: translate(0, -59px);
            height: 43rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .btn2 {
                width: 8rem;
                margin: 0;
                font-size: 0.65rem;
            }
            p {
                font-size: 1rem;
                width: 80%;
                margin-top:3rem;
            }
           .expertise {
            font-size: 0.9rem;
           }
        }
        .template-titre2 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
                margin: 0.5rem 0;
                text-align: start;
            }
            .separateur2 {
               transform: translate(-1rem, 0rem);
            }
        }
        .plan-chaudronnerie, .cahier-soudage {
            margin: 0;
            padding: 3rem 2rem;
            flex-direction: column;
            img {
                height: auto;
            }
            .texte-chaudronnerie {
                gap: 1.5rem;

            }
        }
        .cahier-charge {
            flex-direction: column-reverse;
            margin: 0;
            padding: 3rem 2rem;
            img {
                height: 20rem;
            }
            .texte-cahier {
                gap: 1.5rem;
                margin: 0;
            }
        }
    }
}

//page recrutement
@media screen and (max-width: 750px) and (orientation: portrait) {
   #P4 {
    .hero {
        img {
            height: 70vh;
        }
    }
    .picto-processus {
        flex-direction: column;
        img {
            height: 4rem;
            width: 4rem;
        }
        .fleche {
            transform: rotate(90deg);
            margin: 0 auto;
        }
        .etape-process {
            text-align: center;
            width: 60%;
            margin: auto;
            padding: 1rem;
        }
    }
    .template-titre1 {
        margin: 4rem 2rem;
        .btn1 {
            width: 10rem;
            height: 2rem;
        }
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;
            text-align: start;
            margin: 0;
        }
        .separateur {
            transform: translate(10rem, -2rem);
        }
        .btn1 {
            transform: translate(0);
        }
        img {
            transform: translate(38px, 39px);
            height: 15rem;
            width: 15rem;
        }
        .article, .article2, .article3 {
            margin: 1rem;
            padding: 2rem;
            width: 100%;
            .btn1,.btn2 {
                width: 8rem;
                height: 2rem;
            }
        }
    } 
    .form-spontanne {
        margin: 5rem 2rem;
        form {
            .btn {
                width: 8rem;
                height: 2rem;
            }
        }
      
    }
   }
}

//page contact
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P5 {
        .hero {
            img {
                height: 70vh;
            }
        }
        .P {
            flex-direction: column;
            margin: 0;
            .coordonnees {
                width: 80%;
                margin: 2rem;
                padding: 3rem;
                transform: translate(0);
            }
            .form-container {
                margin: 2rem;
            }
        }
     
    }
}


// Compte administrateur
//dashboard - annonces - candidatures - calendrier
@media screen and (max-width: 750px) and (orientation: portrait) {
    .profil-admin {
        padding: 2rem;
        margin: 1rem 1rem 2rem 1rem;
        p {
            padding: 0.7rem;
        }
    }
    .profil-admin,.form-profil-admin, .delete-profil{
        margin: 1rem;
        padding: 2rem;
    }
    .form-profil-admin {
        background: #ffffff;
        border: 1px solid #e9ecef;
        border-radius: 16px;
        box-shadow: 0 6px 20px rgba(18, 38, 63, 0.06);
        h2 {
            margin: 2rem;
        }
        form {
            gap: 0;
        }
    }
    .form-profil-admin input[type="text"],
    .form-profil-admin input[type="email"],
    .form-profil-admin input[type="tel"],
    .form-profil-admin input[type="number"] {
      padding: 5px 10px;
      font-size: 0.9rem;
    }
    .annonces-admin {
        margin: 0;
        padding: 0.5rem;
        .bloc-annonces-scroll {
            .annonce-card {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
                .btns-card {
                    display: flex;
                    gap: 1rem;
                    align-items: center;   
                    .form-delete, .form-edit {
                        .btn-edit,.btn-delete{
                            padding: 7px 6px;
                        }
                    } 
                }
        }
        }    .bloc-annonces-scroll {
            .annonce-card {
            display: flex;
            flex-direction: column;
            gap: 0.4rem;
                .btns-card {
                    display: flex;
                    gap: 1rem;
                    align-items: center;   
                    .form-delete, .form-edit {
                        .btn-edit,.btn-delete{
                            padding: 7px 6px;
                        }
                    } 
                }
            }
        }
    }



    .candidatures-admin {
        margin: 0;
        .bloc-candidatures-admin {
            margin: auto;
            .candidature-item {
                flex-direction: column;
                gap: 1rem;
                select, input {
                    border: 2px solid vars.$beige;
                    height: 1.6rem;
                    width: 7rem;
                    margin: 0.1rem;
                }
                button {
                    background-color: vars.$vert;
                    color: white;        
                    height: 1.6rem;
                    width: 5rem;
                    font-family: bebas neue;
                }
            }
        }
}
h2 {
    text-align: center;
    margin: 2rem 0;
    font-family: "Bebas Neue";
    font-size: 1.8rem;
}
.form-entretien {
    margin: 2rem;
    width: 100%;
}
.btn-entretien {
    background: vars.$vert;
    border: none;
    height: 3rem;
    width: 10rem;
    font-size: 0.9rem;
}
.rdv-detail {
    margin: 0;
    .fiche-candidat {
        flex-direction: column;
        margin: 2rem;
       .photo-candidat {
            margin: auto;
       }
    }
    .rdv-info {
        margin: 2rem;
    }
    .rdv-actions {
        margin: 1rem;
        gap: 0.5rem;        
    }
}
#calendar {
    left: 0;
}
}


// Compte candidat
// deshboard - annonce
@media screen and (max-width: 750px) and (orientation: portrait) {
    //page profil
    .profil-candidat {
        margin: 0;
        padding: 0;
    .photo-profil {
        form {
            flex-direction: column;
            input[type="file"]  {
                font-size: 0.65rem;
            }
            button {
                padding: 8px 9px;
                font-weight: 400;
            }
        }
    }
    .profil-info {
        margin: 8px 22px;
    }
    .cv-section {
        margin: 8px 22px;
        form {
            input[type="file"]  {
                font-size: 0.65rem;
            }
        button {
            padding: 8px 9px;
            font-weight: 400;
        }
        }
    }
    .profil-actions {
        margin: 8px 22px;
        form {
            .btn-primary,.btn-danger   {
                padding: 7px 0px;
            }
        }
    }
    }
    .form-profil-candidat {
        margin: 0;
        .form-group {
            label, input {
                font-size: 0.85rem;
            }
        }
    .form-actions .btn-primary {
        font-size: 0.80rem;
    }
    }
    //page annonce 
    .annonces {
        padding: 1rem;
        margin: 3rem 0;
        .annonce-wrapper {
            .annonce-resume {
                flex-direction: column;
                h3 {
                    font: 1.1rem;
                }
                p {
                    flex-direction: row;
                    font-size: 0.85rem;
                }
                    .btn-offre {
                        font-size: 0.7rem;
                        height: 2.2rem;
                        width: 5rem;
                    }
                }
            }
            .annonce-details {
                p {
                    font-size: 0.9rem;
                }
            }
        }
    
    //page candidature 
    .candidatures {
        padding: 1rem;
        margin: 3rem 0;
        .suivi-candidature {
            .timeline-wrapper {
                padding: 1rem 0;
                height: auto;
                .timeline {
                    flex-direction: column;
                }
            }
        }
    }
}