@use "sass:meta";
@use "vars";
@use "typo";

//page accueil
@media screen and (max-width: 750px) and (orientation: portrait) {
#P1 {
    .hero {
        img {
            height: 70vh;
        }
    }
    .bloc-redirection {
        width: 100%;
        margin: 0;
        gap: 0;
        .trait-vert {
            transform: translate(0rem, 0rem);
        }
        .card {
            margin: 1rem;
            width: 40%;
            gap: 0.5rem;
            > div {
                height: 10rem;
                p {
                    font-size: 0.8rem;
                    transform: translate(14px, -74px);
                }
            }
        }
        img {
            height: 10rem;
            width: 10rem;
        }
    }
    .texte1 {
      gap: 1.4rem;  
      p {
        margin-top: 1rem;
      }
      h1 {
        font-size: 1.8rem;
      }
      .separateur {
        width: 7rem;
        transform: translate(0);
      }
      .btn1 {
        margin: 0;
        font-size: 0.65rem;
      }
    }
    figure {
        img {
            height: 15rem;
        }
        figcaption {
            width: 70%;
            .chiffre-compteur {
                gap: 0;
                .compteur {
                    font-size: 2rem;
                }
            }
            .texte-compteur {
                font-size:  1rem;
                gap: 2rem;
                text-align: center;
            }
        }
    }
    .template-titre1 {
        margin: 4rem 2rem;
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;
        }
    } 
  
    .separateur {
        transform: translate(10rem, -2rem);
    }
    // .separateur2 {
    //     width: 4rem;
    //     transform: translate(10rem, -2rem);
    // }
    .superposition1 {
        margin: 0.2rem;
        height: auto;
        width: 18rem;
        img {
            height: 15rem;
            width: 15rem;
            transform: translate(21px, -549px);
        }
        article {
        width: 19rem;
        transform: translate(3.4rem, 14rem);
        p, h2 {
            padding: 2rem;
            margin: 0;
        }
        h2 {
            font-size: 1.6rem;
        }
        }
        .btn2 {
            transform: translate(9rem, 1rem);
            font-size:0.7rem;
        }
    }
    .superposition2 {
        margin: 4.2rem;
        height: auto;
        width: 18rem;
        img {
            height: 15rem;
            width: 15rem;
            transform: translate(15px, -566px);
        }
        > article {
            width: 19rem;
            transform: translate(-4.6rem, 13rem);
            p, h2 {
                padding: 2rem;
                margin: 0;
            }
            h2 {
                font-size: 1.6rem;
            }
        }
        .btn3 {
            transform: translate(3rem, 1rem);
            font-size:0.7rem;
        }
    }   
    .template-titre2 {
        margin: 4rem 2rem;
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;
        }
        .separateur2 {

           transform: translate(-1rem, 0rem);
        }
    }
    .cadre-vert {
        display: none;
    }
    .citation {
        width: 100%;
        transform: translate(0);
        .citation-texte {
            font-size: 0.9rem;
        }
        .prenom {
            margin: 2rem;
        }
    }
    .temoignage {
        transform: translate(0);
        h3 {
            margin: 2rem;
            font-size: 1.2rem;
        }
        .template-titre2 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
            }
        }
        .temoignage-texte {
            margin: 2rem;
        }
        img {
            width: 6rem;
            height: 2rem;
            margin: 0;
        }
    }
    }
}

//page bureau etude
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P2 {
        .hero {
            img {
                height: 70vh;
            }
        }
        .template-titre1 {
            width: 100%;
            margin: 0;
            padding: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
            }
        } 
        .texte {
            font-size: 0.9rem;
            margin: 2rem;
        }
        .btn1 {
            margin: 0;
            font-size: 0.65rem;
        }
        .activite {
            margin: 0;
            padding: 1rem;
            line-height: 0.9;
            .template-titre2 {
                margin: 4rem 2rem;
                .tcs-C {
                    font-size: 0.9rem;
                }
                .titre {
                    font-size: 1.2rem;
                }
                .separateur2 {
        
                   transform: translate(-1rem, 0rem);
                }
            }
        }
        .trois-images {
            margin: 0;
            padding: 1rem;
            gap: 2px;
            width: 100%;
            .carte {
                height: 15rem;  
            .filtre {
            h2 {
                font-size: 0.9rem;
                }
                }
            }
          
        }
        .maintenance, .chimie, .nucleaire {
            margin: 0;
            padding: 1rem;
            align-items: center;
            flex-direction: column;
        div {
            display: flex;
            flex-direction: row;
            img {
                width: 10rem;
                height: 10rem;
            }
            .cadre-beige {
                transform: translate(-60px, 43px);
                height: 10rem;
                width: 10rem;
            }
        }
        article {
            width: 90%;
            padding: 2rem;
        }
        }
        .section-flip {
            width: 100%;
            gap: 1rem;
            padding: 1rem;
            margin: 0;
            img, .bloc-beige, .bloc-vert, .bloc-gris, .flip-card{
                height: 10rem;
                width: 10rem;
            }
             

        }
    }
}

//page expertise 
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P3 {
        .hero {
            img {
                height: 70vh;
            }
        }
        .template-titre1 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
            }
            .separateur {
                transform: translate(10rem, -2rem);
            }
        } 
        .redirection {
            margin: 0;
            padding: 0;
            width: 100%;
            transform: translate(0);
            .plan{
                gap: 4rem;
                margin-top: 2rem;
            }
            .icone {
                height: 3rem;
                width: 3rem;
            }
            .cahiers {
                align-items: center;
                gap: 2.2rem;
            }
            .fleches {
                .fleche {
                height: 3rem;
                width: 3rem; 
                }
            }
        }
        .rect-vert {
            width: 100%;
            transform: translate(0, -65px);
            height: 35rem;
            p {
                font-size: 1.4rem;
            }
        }
        .template-titre2 {
            margin: 4rem 2rem;
            .tcs-C {
                font-size: 0.9rem;
            }
            .titre {
                font-size: 1.2rem;
            }
            .separateur2 {
    
               transform: translate(-1rem, 0rem);
            }
        }
        .plan-chaudronnerie, .cahier-soudage {
            flex-direction: column;
            margin: 1rem;
            img {
                height: auto;
            }
            .texte-chaudronnerie {
                gap: 1.5rem;
            }
        }
        .cahier-charge {
            flex-direction: column-reverse;
            margin: 1rem;
            img {
                height: auto;
            }
            .texte-chaudronnerie {
                gap: 1.5rem;
            }
        }
    }
}

//page recrutement
@media screen and (max-width: 750px) and (orientation: portrait) {
   #P4 {
    .hero {
        img {
            height: 70vh;
        }
    }
    .picto-processus {
        flex-direction: column;
        img {
            height: 4rem;
            width: 4rem;
        }
        .fleche {
            transform: rotate(90deg);
            margin: 0 auto;
        }
        .etape-process {
            text-align: center;
            width: 60%;
            margin: auto;
            padding: 1rem;
        }
    }
    .template-titre1 {
        margin: 4rem 2rem;
        .btn1 {
            width: 10rem;
            height: 2rem;
        }
        .tcs-C {
            font-size: 0.9rem;
        }
        .titre {
            font-size: 1.2rem;
        }
        .separateur {
            transform: translate(10rem, -2rem);
        }
        .btn1 {
            transform: translate(0);
        }
        img {
            transform: translate(38px, 39px);
            height: 15rem;
            width: 15rem;
        }
        .article, .article2, .article3 {
            margin: 1rem;
            padding: 2rem;
            width: 100%;
            .btn1,.btn2 {
                width: 8rem;
                height: 2rem;
            }
        }
    } 
    .form-container {
        form {
            .btn {
                width: 8rem;
                height: 2rem;
                padding: 0;
                margin: 0;
            }
        }
      
    }
   }
}

//page contact
@media screen and (max-width: 750px) and (orientation: portrait) {
    #P5 {
        .hero {
            img {
                height: 70vh;
            }
        }
        .P {
            flex-direction: column;
            margin: 0;
            .coordonnees {
                width: 100%;
            }
        }
     
    }
}


// Compte administrateur
//dashboard - annonces - candidatures - calendrier
@media screen and (max-width: 750px) and (orientation: portrait) {
    .profil-admin {
        padding: 2rem;
        margin: 1rem 1rem 2rem 1rem;
        p {
            padding: 0.7rem;
        }
    }
    .profil-admin,.form-profil-admin, .delete-profil{
        margin: 3rem;
    }
    .annonces-admin {
        margin: 0;
        padding: 3rem;
    }
    .bloc-annonces-scroll {
        .annonce-card {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        }
        .btn-edit,.btn-delete{
            padding: 7px 6px;
        }
    }
    .btns-card {
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .form-container {
        margin: 0;
    }
    .candidatures-admin {
    
        .bloc-candidatures-admin {
            margin: auto;
            .candidature-item {
                flex-direction: column;
                gap: 1rem;
                select, input {
                    border: 2px solid vars.$beige;
                    height: 1.6rem;
                    width: 7rem;
                    margin: 0.1rem;
                }
                button {
                    background-color: vars.$vert;
                    color: white;        
                    height: 1.6rem;
                    width: 5rem;
                    font-family: bebas neue;
                }
            }
        }
}
h2 {
    text-align: center;
    margin: 4rem 0;
    font-family: "Bebas Neue";
    font-size: 1.8rem;
}
.form-entretien {
    margin: 2rem;
    width: 100%;
}
.btn-entretien {
    background: vars.$vert;
    border: none;
    height: 3rem;
    width: 10rem;
    font-size: 0.9rem;
}
.rdv-detail {
    .fiche-candidat {
        flex-direction: column;
        margin: 2rem;
    }
    .rdv-info {
        margin: 2rem;
    }
    .rdv-actions {
        margin: 1rem;
        gap: 0.5rem;        
    }
}
#calendar {
    left: 0;
}
}


// Compte candidat
// deshboard - annonce
@media screen and (max-width: 750px) and (orientation: portrait) {
    //page profil
    .profil-candidat {
        margin: 0;
        padding: 0;
    .photo-profil {
        form {
            flex-direction: column;
            input[type="file"]  {
                font-size: 0.65rem;
            }
            button {
                padding: 8px 9px;
                font-weight: 400;
            }
        }
    }
    .profil-info {
        margin: 8px 22px;
    }
    .cv-section {
        margin: 8px 22px;
        form {
            input[type="file"]  {
                font-size: 0.65rem;
            }
        button {
            padding: 8px 9px;
            font-weight: 400;
        }
        }
    }
    .profil-actions {
        margin: 8px 22px;
        form {
            .btn-primary,.btn-danger   {
                padding: 7px 0px;
            }
        }
    }
    }
    .form-profil-candidat {
        margin: 0;
        .form-group {
            label, input {
                font-size: 0.85rem;
            }
        }
    .form-actions .btn-primary {
        font-size: 0.80rem;
    }
    }
    //page annonce 
    .annonces {
        padding: 1rem;
        margin: 3rem 0;
        .annonce-wrapper {
            .annonce-resume {
                flex-direction: column;
                h3 {
                    font: 1.1rem;
                }
                p {
                    flex-direction: row;
                    font-size: 0.85rem;
                }
                    .btn-offre {
                        font-size: 0.7rem;
                        height: 2.2rem;
                        width: 5rem;
                    }
                }
            }
            .annonce-details {
                p {
                    font-size: 0.9rem;
                }
            }
        }
    
    //page candidature 
    .candidatures {
        padding: 1rem;
        margin: 3rem 0;
        .suivi-candidature {
            .timeline-wrapper {
                padding: 1rem 0;
                height: auto;
                .timeline {
                    flex-direction: column;
                }
            }
        }
    }
}