// ----------- POLICE D'ECRITURE TITRE --------------

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-style: normal;
}




// ------------- POLICE D'ECRITURE SOUS-TITRE -----------
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}


// ------------- POLICE D'ECRITURE PARAGRAPHE -----------
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@font-face {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}